<section class="favoriteList">
    <div class="contentFavoriteList">
        <div class="headFavoriteList">
            <h1 class="captionFavoriteList">My favorite products list</h1>
            <button class="cancel">tat</button>
        </div>
        <div class="contentListProducts">
            <div class="listProducts">

            </div>
        </div>
    </div>
</section>