<footer>
    <div class="contentFooter">
        <div class="aboutUs">
            <img src="../images/logo.png" alt="logo">
            <p class="intro">Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Suscipit, obcaecati ratione distinctio
                rerum illo eveniet quos explicabo ullam vel recusandae.
                Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Suscipit, obcaecati ratione distinctio
                rerum illo eveniet quos explicabo ullam vel recusandae.
            </p>
        </div>
        <div class="address">
            <h1 class="titleFooter">Address</h1>
            <ul class="listAddress">
                <li>Address: 60-49 Road 11378 New York</li>
                <li>Phone: +65 11.188.888</li>
                <li>Email: hello@shop.com</li>
            </ul>
        </div>
        <div class="join">
            <h1 class="titleFooter">Contact us</h1>
            <ul class="btns_contact">
                <li>
                    <button style="background: #4267B2;"><i class="fab fa-facebook-f"></i></button>
                    <span>Like us on Facebook</span>
                </li>
                <li>
                    <button style="background: #833AB4;"><i class="fab fa-instagram"></i></button>
                    <span>Follow us on Instagram</span>
                </li>
                <li>
                    <button style="background:  #1DA1F2;"><i class="fab fa-twitter"></i></button>
                    <span>Follow us on Twitter</span>
                </li>
                <li>
                    <button style="background: #BD081C;"><i class="fab fa-pinterest-p"></i></button>
                    <span>Fllow us on Pinterest</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©2020 All rights reserved | This template is made with <i class="fas fa-heart" style="color:var(--primarycolor)"></i> by <a href="#">Hoai Nam</a></p>
        <div class="payment">
            <a href="#"><img src="../images/visa.png" alt="visa"></a>
            <a href="#"><img src="../images/paypal.png" alt="paypal"></a>
            <a href="#"><img src="../images/mastercard.png" alt="mastercard"></a>
        </div>
    </div>
</footer>