<section class="popUpPay">
    <div class="contnetPopUpPay">
        <img src="../images/tick.svg" alt="tick">
        <h1 class="captionPaymentSuccess">Thanh toan thanh cong</h1>
        <span class="tk">Cam on ban da tin tuong va mua sam tai cua hang</span>
        <div class="btns_controlPopUpPay">
            <a href="/shop">Tiep tuc mua sam</a>
            <a href="/">Quay ve trang chu</a>
        </div>
    </div>
</section>