<div class="containerPopUp">
    <div class="popUp">
        <img src="../images/binhnuoc.jpg" alt="img">
        <h2 class="nameProductPopup">Binh nuoc</h2>
        <h2 class="orderSuccess">Da them vao gio hang</h2>
    </div>
</div>