<section class="sideMenu">
    <main class="contentSideMenu">
        <button class="closeSideMenu"><i class="fas fa-times"></i></button>
        <img src="../images/logo.png" alt="logo">
        <ul class="listSideMenuLink">
            <li class="listItemSideMenu">
                <a href="/">home</a>
            </li>
            <li class="listItemSideMenu">
                <a href="/shop">shop</a>
            </li>
            <li class="listItemSideMenu">
                <span class="controlCategoriesList">categories</span>
                <i class="fas fa-caret-right"></i>
                <ul class="listCategoriesLink">
                    
                </ul>
            </li>
            <li class="listItemSideMenu">
                <a href="/contact">contact us</a>
            </li>
        </ul>
        <div class="contact_header">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-pinterest-p"></i>
        </div>
        <div class="emailAndOrder">
            <i class="fas fa-envelope"></i>
            <span>hello@colorlib.com</span></br>
            <span>Free Shipping for all Order of $99</span>
        </div>
    </main>
</section>