<%- include ('../partials/breadCrumbs.ejs') %>
<main class="contactUs">
    <section class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96748.74301332569!2d-74.25209590314151!3d40.731262282150816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25370329a0e1d%3A0xe1bcdc2adcfee473!2sNewark%2C%20New%20Jersey%2C%20Hoa%20K%E1%BB%B3!5e0!3m2!1svi!2s!4v1596939465114!5m2!1svi!2s" 
        width="700" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </section>
    <section class="inforAboutShop">
        <ul class="listInforAboutShop">
            <li class="itemInforShop">
                <button><i class="fas fa-phone"></i></button>
                <span>65 11.188.888</span>
            </li>
            <li class="itemInforShop">
                <button><i class="fas fa-map-marker-alt"></i></button>
                <span>60-49 Road 11378 New York</span>
            </li>
            <li class="itemInforShop">
                <button><i class="far fa-clock"></i></i></button>
                <span>6.30 am to 5.30 pm</span>
            </li>
            <li class="itemInforShop">
                <button><i class="far fa-envelope"></i></i></button>
                <span>shopOgani@gmail.com</span>
            </li>
        </ul>
    </section>
</main>