<main>
    <section class="bannerSection">
        <div class="banner">
            <div class="containerBanner">
                <h3>FRUIT FRESH</h3>
                <h1>Vegetable </br>100% Organic</h1>
                <h3>Free Pickup and Delivery Available</h3>
                <a href="/shop">shop now</a>
            </div>
        </div>
    </section>
    <section class="listCategoriesAndImg">
        <div class="sliderCategories">
           
        </div>
        <div class=btn_control>
            <button class="btn_next"><i class="fas fa-chevron-left"></i></button>
            <button class="btn_previous"><i class="fas fa-chevron-right"></i></button>
        </div>
    </section>
    <section class="featuredProuduct">
        <h1>Featured Product</h1>
        <ul class="categoriesLinkFeatured">
            <li class="itemCategoriesLinkFeatured" data-filter="all"><a href="#">All</a></li>
            
        </ul>
        <div class="containerFeaturedProducts">
            <!-- render from ajax-->
        </div>
    </section>
    <section class="latest_rated_review">
        <div class="latestProduct ">
            <div class="captionSliderProduct">
                <h3>Latest Products</h3>
                <div class="btn_latestProduct">
                    <button class="btn_slider_product_previous"><i class="fas fa-chevron-left"></i></button>
                    <button class="btn_slider_product_next"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="slider_latest_product">
                <!-- render from ajax-->
            </div>
        </div>
        <div class="ratedProduct ">
            <div class="captionSliderProduct">
                <h3>Rated Products</h3>
                <div class="btn_ratedProduct">
                    <button class="btn_slider_product_previous"><i class="fas fa-chevron-left"></i></button>
                    <button class="btn_slider_product_next"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="slider_rated_product">
                <!-- render from ajax-->
            </div>
        </div>
        <div class="reviewProduct">
            <div class="captionSliderProduct">
                <h3>Review Products</h3>
                <div class="btn_reviewProduct">
                    <button class="btn_slider_product_previous"><i class="fas fa-chevron-left"></i></button>
                    <button class="btn_slider_product_next"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="slider_review_product">
                <!-- render from ajax-->
            </div>
        </div>
    </section>
</main>