<%- include ('../partials/breadCrumbs.ejs') %>
<main class="productLayout ">
    <section class="productDetailInfor">
        <div class="containerSliderImg">
            <div class="sliderImg">
                <div class="slider-for">

                </div>
                <div class="slider-nav">

                </div>
            </div>
            <div class="btns_controlSliderProduct">
                <button class="previous"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="contentProductInfor">
            <h2 class="nameProductDetail">Vetgetable’s Package</h2>
            <ul class="listStars">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
            </ul>
            <h2 class="priceProductDetail"><span id="newPrice">50.000 d</span><del id="oldPrice">50.000 d</del></h2>
            <div class="control_ProductDetail">
                <div class="btns_controlQuantity">
                    <button id="minus">-</button>
                    <button id="valueQuantity">1</button>
                    <button id="plus">+</button>
                </div>
                <button class="addtoCartProduct">add to cart</button>
                <a href="/billingDetail" class="pay">pay</a>
                <button class="favouriteProductDetail"><i class="far fa-heart"></i></button>
            </div>
        </div>
        <ul class="listStatus">
            <li class="itemStatus">
                <b>Availability</b>
                <span id="instock">In Stock</span>
            </li>
            <li class="itemStatus">
                <b>Shipping</b>
                <span>Yes</span>
            </li>
            <li class="itemStatus">
                <b>Weight</b>
                <span id="weight">In Stock</span>
            </li>
            <li class="itemStatus">
                <b>Share on</b>
                <ul class="list_bntsShare">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </li>
        </ul>
    </section>
    <section class="descriptionProduct">
        <h3 class="captionDescription">Description</h3>
        <h3 class="titleDescription">Products Infomation</h3>
        <p class="contentDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Distinctio adipisci esse magnam dolorum labore, suscipit veniam quibusdam debitis
            rem dolores quod fuga sint, cumque vel, iure delectus ratione tempore? A, vitae quod,
            possimus cumque maxime illo inventore at dignissimos aut impedit quia dolores. Ratione
            voluptatibus veniam error! Sint ducimus explicabo adipisci molestiae. Fuga ea temporibus,
            dicta voluptatem odio odit quisquam facilis assumenda. Odio minus eaque quasi consequatur
            odit! Minus, perspiciatis.</p>
    </section>
    <section class="relatedProduct">
        <h1 class="captionRelatedProduct">Related Product</h1>
        <div class="sliderRalatedProduct">
            <div class="containerRelatedProduct">
                
            </div>
            <div class="btns_controlSliderRelated">
                <button class="btns_related_previous"><i class="fas fa-chevron-left"></i></button>
                <button class="btns_related_next"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </section>
</main>